body {
    background: #000;
}

header, main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.header_class, .main_class, .footer_class {
    padding: 10px;
    margin: 10px;
    background: #fff;
    color: #000;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

footer .footer_father_class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    color: #000;
}